.auth-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.auth-form {
  width: 350px;
  padding: 2em;
  border-radius: 12px;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.auth-form h2 {
  margin-top: 0;
  margin-bottom: 1em;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

.auth-form input {
  width: 100%;
  padding: 0.5em;
  margin-bottom: 1em;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-family: 'Poppins', sans-serif;
}

.auth-form button {
  width: 100%;
  padding: 0.5em;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 6px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  cursor: pointer;
}

.auth-form button:hover {
  background-color: #45a049;
}

.error{
  color: red;
}