.uk-page-widget, .europe-page-widget {
  background-color:rgba(235, 235, 235, 0.95);
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.4);
  border-radius: 12px;
  padding: 10px 20px 20px 20px;
  margin: 20px 24px;
  width: auto;
}


.uk-page__title, .europe-page__title {
  text-align: center;
  font-size: 1.8rem;
  margin: 0;
  margin-bottom: 10px;
  font-family: "Poppins", sans-serif;
}

.uk-page-content {
  display: flex;
  justify-content: space-between;
}

.uk-page-content > * {
  flex: 1;
  margin-right: 20px;
}

.uk-weather-list, .europe-weather-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 50%;
  height: 500px;
  /* overflow-y: auto; */
}

.map-container {
  width: 50%;
  height: 500px;
  margin-left: 20px;
  border-radius: 8px;
  overflow: hidden;
}

.uk-page-content > *:last-child {
  margin-right: 0;
}

.weather-list{
  margin-bottom: 20px;
  padding: 0;
}

.weather-info{
  font-size: 12px !important;
}

@media screen and (max-width: 468px) {
  .uk-page-widget, .europe-page-widget {
    margin: 20px 10px;
  }
}