#root {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

#main-root-section {
  width: 65%;
  margin: 0 auto;
  text-align: center;

  min-height: 100vh;
}

.search-input {
  border-radius: 6px;
  margin: 0 auto;
  width: 50%;
}

.search-input:hover {
  border: none !important;
}

.weather-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 1em;
  padding: 1em;
}

.location-card {
  background-color: rgba(235, 235, 235, 0.95);
  box-shadow: 0px 0px 24px 0.5px rgba(0, 0, 0, 0.4);
  border-radius: 12px;
  padding: 1em;
  margin: 0.5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); */
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  width: 100%;
  max-width: 420px;
  height: 110px;
  transition: 0.5s ease;
}

.location-card:hover {
  /* background-color: rgba(235, 235, 235, 0.9); */
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3);
  transform: scale(1.01);
}

.weather-icon-main-page {
  font-size: 74px;
  margin-right: 0.38em;
}

.weather-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 1em;
}

.weather-info div {
  margin-bottom: 0.2em;
}

.see-more-btn {
  border: none;
  font-size: 15px;
  background-color: #007bff;
  color: white;
  padding: 0.5em 1em;
  border-radius: 12px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.see-more-btn:disabled {
  background-color: #007bff7a;
}

.see-more-btn:hover {
  background-color: #0056b3;
}

/* more weather info */

.single-weather-main {
  /* width: 100%; */
  padding: 0 24px;
  margin: 1em auto;
}

.single-weather-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* .single-weather-header {
  display: flex;
  align-items: center;
} */

.single-location-name {
  font-size: 42px;
  font-weight: 600;
}

.widget-row {
  display: flex;
  flex-wrap: wrap;
  /* margin-top: 20px; */
  gap: 20px;
  justify-content: space-between;
}

/* more weather info end  */

/* map styles  */

.map-widget {
  background-color: rgba(235, 235, 235, 0.95);
  border-radius: 12px;
  padding: 0 1em 1em 1em;
  margin-top: 20px;
}

.map-widget h3 {
  margin: 0.8em 0;
}

/* map styles end  */

.day-weather-icon {
  font-size: 52px;
  text-shadow: 2px 2px 2px rgba(black, 0.9);
  color: yellow;
}

.temperature-container {
  display: flex;
  align-items: "center";
}

.celsius {
  font-size: 38px;
  font-weight: 600;
}

.fahrenheit {
  font-size: 34px;
  font-weight: 500;
}

.add-to-fav {
  font-size: 30px;
  margin-left: 10px; /* Add some spacing between the Fahrenheit and the star */
}

.fav-icon {
  transition: transform 1s ease, color 1s ease;
}

.fav-icon:hover {
  transform: scale(1.2);
}

.add-to-fav .fav-icon {
  animation: pop 0.3s ease;
}

@keyframes pop {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}

.align-start {
  text-align: start;
  margin: 20px 0;
}

.forecast-list {
  width: 100%;
  padding: 0 0 1em 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  overflow-x: auto;
}

.first-forecast-child {
  margin-left: 0 !important;
}

.last-forecast-child {
  margin-right: 0 !important;
}

/* scrollbar */

.forecast-list::-webkit-scrollbar {
  width: 10px;
  height: 8px;
}

.forecast-list::-webkit-scrollbar-track {
  background-color: rgba(235, 235, 235, 0.6);
  border-radius: 10px;
}

.forecast-list::-webkit-scrollbar-thumb {
  background: #7f7f7f;
  border-radius: 10px;
}

/* scrollbar end */

.single-weather-day-summary {
  width: 150px;
  height: 100%;
  border-radius: 12px;
  font-weight: 600;
  color: rgb(30, 30, 30);
  padding: 0.3em;
  background-color: rgba(235, 235, 235, 0.6);
  margin: 0 0.2em;
  transition: 0.4s;
}

.single-weather-day-summary:hover {
  background-color: rgba(235, 235, 235, 0.9);
}

/* weather icons styles */

.weather-icon {
  font-size: 56px;
}

.weather-icon-clear {
  color: #ffd700;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.weather-icon-partially-cloudy {
  color: #b0c4de;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.weather-icon-overcast {
  color: #697f95;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.weather-icon-rain {
  color: #4682b4;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.weather-icon-default {
  color: #ff4500;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

/* weather icons styles end  */

.alert-message {
  background-color: #f44336;
}

/* modal  */

.modal {
  margin: 0;
  padding: 1.8em;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30rem;
  max-height: 60vh;
  background: #e2e5eb;
  border: none;
  border-radius: 6px;
  z-index: 100;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  animation: subtle-drop 150ms ease-out forwards;
}

.modal h3 {
  margin: 0 !important;
  margin-bottom: 0.55em !important;
}

@keyframes subtle-drop {
  0% {
    opacity: 0;
    top: 40%;
  }
  100% {
    opacity: 1;
    top: 45%;
  }
}

.modal::backdrop {
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
}

/* modal end  */

/* user info */
.user-info-form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.user-info-form input {
  width: 100%;
  padding: 0.8em 0.7em;
  box-sizing: border-box;
  font-size: 16px;
  margin-bottom: 0.7em;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-family: "Poppins", sans-serif;
}

.user-info-form .form-actions {
  display: flex;
  justify-content: flex-end;
}

.user-info-form .form-actions button {
  min-width: 100px;
}

/* user info end  */

/* index welcoming */



.sub-heading h3{
  display: inline;
  background-color: rgb(235, 235, 235);
  border-radius: 30px 100px / 120px;
  padding: 6px 14px;
}


.sub-heading{
  margin-top: 22.72px !important;
  margin-bottom: 30.72px;
  color: rgba(235, 235, 235);
}

/* favorite locations */
.favorite-locations-list .favorite-locations-title{
  margin: 0 0.5em 0.5em 0.5em  !important;
}

.favorite-locations-list .favorite-locations-close-button{
  margin: 0.5em !important;
  width: 100%;
}

.favorite-locations-list .weather-list {
  justify-content: start !important;
  gap: 0.1em;
  margin-bottom: 0;
}

.favorite-locations-list .location-card{
  max-width: 500px;
}

/* favorite locations end  */

@media screen and (max-width: 1200px) {
  #main-root-section {
    width: 80%;
  }

  .location-card {
    max-width: 350x;
  }
}

@media screen and (max-width: 992px) {
  #main-root-section {
    width: 85%;
  }

  .widget-row {
    justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  #main-root-section {
    width: 90%;
  }

  .weather-list {
    justify-content: center;
  }
}

@media screen and (max-width: 576px) {
  #main-root-section {
    width: 100%;
    padding: 0 0.1em;
  }

  .search-input {
    width: 85%;
    padding: 0 0.4em;
  }

  /* .single-weather-main {
    width: 95%;
  } */

  .location-card {
    padding: 0.6em 0.7em;
    margin: 0;
  }

  .weather-icon-partially-cloudy {
    font-size: 60px !important;
  }

  .weather-icon-main-page {
    max-width: 70px;
    margin-right: 0.2em;
  }

  .weather-button-more {
    max-width: 70px;
  }

  .favorite-locations-list .favorite-locations-title{
    margin: 0 0 0.5em 0  !important;
  }
  
  .favorite-locations-list .favorite-locations-close-button{
    margin: 0 0 0.5em 0  !important;
    width: 100%;
  }
}

@media screen and (max-width: 468px) {
  .search-input {
    width: 92%;
  }
  .sub-heading h3{
    font-size: 14px;
  }
}
