#root {
  width: 65%;
  margin: 0 auto;
  text-align: center;
}
.search-input {
  border-radius: 6px;
  margin: 0 auto;
  width: 50%;
}

.search-input:hover {
  border: none !important;
}

.weather-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.location-card {
  font-weight: 600;
  background-color: rgba(246, 246, 246, 0.3);
  min-width: 240px;
  border-radius: 12px;
  padding: 0.4em;
  margin: 0.6em;
  transition: 0.4s ease;
}

.location-card:hover {
  box-shadow: 0px 0px 12px 0.2px #6b6b6b;
}

.weather-icon-main-page {
  font-size: 105px;
  margin: 0.35em;
}

.see-more-btn {
  border: none;
  font-size: 14px;
  background-color: rgb(65, 81, 188);
  color: white;
}

/* more weather info */

.single-weather-main {
  width: 100%;
  margin: 1em auto;
}

.single-weather-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.single-weather-header {
  display: flex;
  align-items: center;
}

.single-location-name {
  font-size: 36px;
  font-weight: 600;
  margin-left: 6px;
}

.align-start {
  margin: 20px 0;
}

.widget-row {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
}

/* more weather info end  */

.day-weather-icon {
  font-size: 52px;
  text-shadow: 2px 2px 2px rgba(black, 0.9);
  color: yellow;
}

.celsius {
  font-size: 26px;
  font-weight: 600;
}

.fahrenheit {
  font-size: 22px;
  font-weight: 500;
}

.align-start {
  text-align: start;
}

.forecast-list {
  width: 100%;
  padding: 1em 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  overflow-x: auto;
}

.first-forecast-child {
  margin-left: 0 !important;
}

.last-forecast-child {
  margin-right: 0 !important;
}

/* scrollbar */

.forecast-list::-webkit-scrollbar {
  width: 10px;
  height: 8px;
}

.forecast-list::-webkit-scrollbar-track {
  background-color: rgba(238, 238, 238, 0.6);
  border-radius: 10px;
}

.forecast-list::-webkit-scrollbar-thumb {
  background: #7f7f7f;
  border-radius: 10px;
}

/* scrollbar end */

.single-weather-day-summary {
  width: 150px;
  height: 100%;
  border-radius: 12px;
  font-weight: 600;
  color: rgb(30, 30, 30);
  padding: 0.3em;
  background-color: rgba(238, 238, 238, 0.5);
  margin: 0 0.3em;
  transition: 0.4s;
}

.single-weather-day-summary:hover {
  background-color: rgba(230, 230, 230, 0.8);
}

/* weather icons styles */

.weather-icon {
  font-size: 56px;
}

.weather-icon-clear {
  color: #ffd700;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.weather-icon-partially-cloudy {
  color: #b0c4de;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.weather-icon-overcast {
  color: #697f95;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.weather-icon-rain {
  color: #4682b4;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.weather-icon-default {
  color: #ff4500;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

/* weather icons styles end  */

.alert-message {
  background-color: #f44336;
}

@media screen and (max-width: 1200px) {
  #root {
    width: 80%;
  }
}

@media screen and (max-width: 992px) {
  #root {
    width: 85%;
  }
  .widget-row {
    /* flex-direction: column; */
    justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  #root {
    width: 90%;
  }
}

@media screen and (max-width: 576px) {
  #root {
    width: 100%;
    padding: 0 0.1em;
  }

  .search-input {
    width: 80%;
    padding: 0 0.4em;
  }

  .single-weather-main {
    width: 95%;
  }
}
